*,
body,
html {
	background-color: #272822;
	color: #eee;
	-webkit-font-smoothing: antialiased;
	font-family: "Ubuntu Mono";
}

body {
	margin: 0px;
	overflow: hidden;
}

.container {
	width: 100%;
}

a {
	cursor: pointer;
}

* {
	background: #272822;
}

.list {
	border-bottom: 1px dashed rgb(119, 119, 119);
	box-sizing: border-box;
	color: rgb(238, 238, 238);
	display: block;
	float: left;
	font: 18px/28px "Ubuntu Mono";
	min-height: 39px;
	height: auto;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px 15px 5px 15px;
	position: relative;
	width: 298px;
	-webkit-font-smoothing: antialiased;
}

.mainbody {
	font-size: 16px;
	line-height: 28px;
	height: 100vh;
	padding-right: 0px;
	width: 100%;
}

.heading {
	border-bottom: 1px dashed #aaa;
	height: 45px;
}

input {
	font-size: 26px;
	line-height: 28px;
	font-weight: bold;
	border: none;
	padding: 10px 20px;
	float: left;
	height: 25px;
	width: calc(100% - 272px);
	width: -moz-calc(100% - 272px);
	width: -webkit-calc(100% - 272px);
	width: -o-calc(100% - 272px);
}

.menu {
	float: right;
}

textarea {
	border: none;
	width: calc(100% - 22px);
	font-size: 22px;
	line-height: 28px;
	resize: none;
	padding: 10px 0 0 20px;
	/* Firefox */
	height: -moz-calc(100% - 65px);
	/* WebKit */
	height: -webkit-calc(100% - 65px);
	/* Opera */
	height: -o-calc(100% - 65px);
	/* Standard */
	height: calc(100% - 65px);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

.deleteButton {
	color: #F44336;
}

.listOptions {
	float: right;
	max-height: 29px;
}

.list svg {
	padding-top: 5px;
	cursor: pointer;
}

.list>span {
	cursor: pointer;
}

.button {
	box-sizing: border-box;
	border: none;
	border-radius: 3px;
	padding: 0px 5px 0 5px;
	margin-right: 10px;
	margin-top: 8px;
	width: 60px;
	color: #fff;
	font-weight: bold;
	color: rgb(255, 255, 255);
	cursor: pointer;
	height: 28px;
	text-size-adjust: 100%;
	width: 60px;
	column-rule-color: rgb(255, 255, 255);
	perspective-origin: 30px 14px;
	transform-origin: 30px 14px;
	background: rgb(0, 150, 136) none repeat scroll 0% 0% / auto padding-box border-box;
	border: 0px none rgb(255, 255, 255);
	border-radius: 3px 3px 3px 3px;
	font: normal normal bold normal 16px / 28px "Ubuntu Mono";
	margin: 8px 10px 0px 0px;
	outline: rgb(255, 255, 255) none 0px;
	padding: 0px 5px;
}

.dangerBackground {
	background-color: #F44336;
}

.infoBackground {
	background-color: #009688;
}

.success.container {
	width: 100%;
}

a {
	cursor: pointer;
}

* {
	background: #272822;
}

.sidebar {
	border-right: 2px solid #aaa;
	height: 100vh;
	width: 320px;
	float: left;
	overflow: auto;
}

.list {
	border-bottom: 1px dashed rgb(119, 119, 119);
	box-sizing: border-box;
	color: rgb(238, 238, 238);
	display: block;
	float: left;
	font: 18px/28px "Ubuntu Mono";
	min-height: 39px;
	height: auto;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px 15px 5px 15px;
	position: relative;
	width: 298px;
	-webkit-font-smoothing: antialiased;
}

.mainbody {
	font-size: 16px;
	line-height: 28px;
	height: 100vh;
	padding-right: 0px;
	width: 100%;
}

.heading {
	border-bottom: 1px dashed #aaa;
	height: 45px;
	padding-bottom: 1px;
}

input {
	font-size: 26px;
	line-height: 28px;
	font-weight: bold;
	border: none;
	padding: 10px 20px;
	float: left;
	height: 25px;
	width: calc(100% - 272px);
	width: -moz-calc(100% - 272px);
	width: -webkit-calc(100% - 272px);
	width: -o-calc(100% - 272px);
}

.menu {
	float: right;
}

textarea {
	border: none;
	width: calc(100% - 22px);
	font-size: 22px;
	line-height: 28px;
	resize: none;
	padding: 10px 0 0 20px;
	/* Firefox */
	height: -moz-calc(100% - 65px);
	/* WebKit */
	height: -webkit-calc(100% - 65px);
	/* Opera */
	height: -o-calc(100% - 65px);
	/* Standard */
	height: calc(100% - 65px);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

.deleteButton {
	color: #F44336;
}

.listOptions {
	float: right;
	max-height: 29px;
}

.list svg {
	padding-top: 5px;
	cursor: pointer;
}

.list>span {
	cursor: pointer;
}

.button {
	box-sizing: border-box;
	border: none;
	border-radius: 3px;
	padding: 0px 5px 0 5px;
	margin-right: 10px;
	margin-top: 8px;
	width: 60px;
	color: #fff;
	font-weight: bold;
	color: rgb(255, 255, 255);
	cursor: pointer;
	height: 28px;
	text-size-adjust: 100%;
	width: 60px;
	column-rule-color: rgb(255, 255, 255);
	perspective-origin: 30px 14px;
	transform-origin: 30px 14px;
	background: rgb(0, 150, 136) none repeat scroll 0% 0% / auto padding-box border-box;
	border: 0px none rgb(255, 255, 255);
	border-radius: 3px 3px 3px 3px;
	font: normal normal bold normal 16px / 28px "Ubuntu Mono";
	margin: 8px 10px 0px 0px;
	outline: rgb(255, 255, 255) none 0px;
	padding: 0px 5px;
}

.dangerBackground {
	background-color: #F44336;
}

.infoBackground {
	background-color: #009688;
}

.successBackground {
	background-color: #4CAF50;
}

.danger {
	color: #F44336;
}

.info {
	color: #009688;
}

.success {
	color: #4CAF50;
}

.heading svg {
	margin-right: 5px;
}
/* Turn on custom 8px wide scrollbar */

::-webkit-scrollbar {
	width: 12px;
	/* 1px wider than Lion. */
	/* This is more usable for users trying to click it. */
	background: rgba(0, 0, 0, 0.61);
	border-radius: 0px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */

::-webkit-scrollbar:hover {
	background: rgba(0, 0, 0, 0.61);
}
/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */

::-webkit-scrollbar-thumb:vertical {
	background: rgba(0, 0, 0, 0.61);
	border-radius: 0px;
}

::-webkit-scrollbar-thumb:vertical:active {
	background: rgba(0, 0, 0, 0.61);
	/* Some darker color when you click it */
	border-radius: 0px;
}

Background {
	background-color: #4CAF50;
}

.danger {
	color: #F44336;
}

.info {
	color: #009688;
}

.success {
	color: #4CAF50;
}

.heading svg {
	margin-right: 5px;
}
/* Turn on custom 8px wide scrollbar */

::-webkit-scrollbar {
	width: 12px;
	/* 1px wider than Lion. */
	/* This is more usable for users trying to click it. */
	background: rgba(0, 0, 0, 0.61);
	border-radius: 0px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */

::-webkit-scrollbar:hover {
	background: rgba(0, 0, 0, 0.61);
}
/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */

::-webkit-scrollbar-thumb:vertical {
	background: rgba(0, 0, 0, 0.61);
	border-radius: 0px;
}

::-webkit-scrollbar-thumb:vertical:active {
	background: rgba(0, 0, 0, 0.61);
	/* Some darker color when you click it */
	border-radius: 0px;
}